Repository SixLabors/Fonts, pull requests merged in 2022-03, with the labels that each got.

#248 Add ability to add custom feature tags
  src/SixLabors.Fonts/FileFontMetrics.cs
  src/SixLabors.Fonts/FontMetrics.cs
  src/SixLabors.Fonts/GlyphPositioningCollection.cs
  src/SixLabors.Fonts/GlyphSubstitutionCollection.cs
  src/SixLabors.Fonts/IGlyphShapingCollection.cs
  src/SixLabors.Fonts/StreamFontMetrics.cs
  src/SixLabors.Fonts/Tables/AdvancedTypographic/FeatureTags.cs
  src/SixLabors.Fonts/Tables/AdvancedTypographic/GPos/AnchorTable.cs
  src/SixLabors.Fonts/Tables/AdvancedTypographic/GPosTable.cs
  src/SixLabors.Fonts/Tables/AdvancedTypographic/GSubTable.cs
  src/SixLabors.Fonts/Tables/AdvancedTypographic/Shapers/ArabicShaper.cs
  src/SixLabors.Fonts/Tables/AdvancedTypographic/Shapers/DefaultShaper.cs
  src/SixLabors.Fonts/Tables/AdvancedTypographic/Shapers/ShaperFactory.cs
  src/SixLabors.Fonts/Tables/AdvancedTypographic/Tag.cs
  src/SixLabors.Fonts/TextLayout.cs
  src/SixLabors.Fonts/TextOptions.cs
  tests/SixLabors.Fonts.Tests/TextOptionsTests.cs
Labels: enhancement, shaping

#249 Only skip non-dirty glyphs when updating positions.
  src/SixLabors.Fonts/GlyphPositioningCollection.cs
  src/SixLabors.Fonts/GlyphShapingBounds.cs
  src/SixLabors.Fonts/Tables/AdvancedTypographic/GPosTable.cs
  src/SixLabors.Fonts/TextLayout.cs
Labels: bug, shaping

#250 Add test for old style figures feature
  tests/SixLabors.Fonts.Tests/Fonts/EBGaramond-Regular.ttf
  tests/SixLabors.Fonts.Tests/Tables/AdvancedTypographic/Gsub/GSubTableTests.cs
  tests/SixLabors.Fonts.Tests/TestFonts.cs
Labels: unit tests

#251 Support text runs.
  samples/DrawWithImageSharp/Program.cs
  src/SixLabors.Fonts/BigEndianBinaryReader.cs
  src/SixLabors.Fonts/FileFontMetrics.cs
  src/SixLabors.Fonts/Font.cs
  src/SixLabors.Fonts/FontMetrics.cs
  src/SixLabors.Fonts/GlyphLayout.cs
  src/SixLabors.Fonts/GlyphMetrics.cs
  src/SixLabors.Fonts/GlyphPositioningCollection.cs
  src/SixLabors.Fonts/GlyphRendererParameters.cs
  src/SixLabors.Fonts/GlyphShapingBounds.cs
  src/SixLabors.Fonts/GlyphShapingData.cs
  src/SixLabors.Fonts/GlyphSubstitutionCollection.cs
  src/SixLabors.Fonts/Hinting/Interpreter.cs
  src/SixLabors.Fonts/IColorGlyphRenderer.cs
  src/SixLabors.Fonts/IGlyphDecorationRenderer.cs
  src/SixLabors.Fonts/StreamFontMetrics.cs
  src/SixLabors.Fonts/Tables/General/Glyphs/GlyphVector.cs
  src/SixLabors.Fonts/Tables/General/OS2Table.cs
  src/SixLabors.Fonts/Tables/General/Post/PostNameRecord.cs
  src/SixLabors.Fonts/Tables/General/PostTable.cs
  src/SixLabors.Fonts/Tables/TableLoader.cs
  src/SixLabors.Fonts/TextAttributes.cs
  src/SixLabors.Fonts/TextDecorations.cs
  src/SixLabors.Fonts/TextLayout.cs
  src/SixLabors.Fonts/TextMeasurer.cs
  src/SixLabors.Fonts/TextOptions.cs
  src/SixLabors.Fonts/TextRenderer.cs
  src/SixLabors.Fonts/TextRun.cs
  src/SixLabors.Fonts/Unicode/CodePoint.cs
  tests/SixLabors.Fonts.Tests/BigEndianBinaryWriter.cs
  tests/SixLabors.Fonts.Tests/Fakes/FakeFontInstance.cs
  tests/SixLabors.Fonts.Tests/FontLoaderTests.cs
  tests/SixLabors.Fonts.Tests/FontMetricsTests.cs
  tests/SixLabors.Fonts.Tests/GlyphTests.cs
  tests/SixLabors.Fonts.Tests/Issues/Issues_180.cs
  tests/SixLabors.Fonts.Tests/Issues/Issues_47.cs
  tests/SixLabors.Fonts.Tests/Tables/AdvancedTypographic/GPos/GPosTableTests.cs
  tests/SixLabors.Fonts.Tests/TextLayoutTests.cs
  tests/SixLabors.Fonts.Tests/TextRunTests.cs
  tests/SixLabors.Fonts.Tests/Unicode/BidiAlgorithmTests.cs
  tests/SixLabors.Fonts.Tests/WriterExtensions.cs
Labels: enhancement, api
